button {
    background-color: #434345;
    border-radius: 0.3rem;
    border: 0;
    font-size: 0.8rem;
    color: #80c4c4;
    text-transform: uppercase;
    text-align: left;
}

.buttonColorRed {
    color: #d26f5a;
}